<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/mvc    
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/context    
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	<context:component-scan base-package="com.MusicStore.Controller" />
	<!-- <mvc:resources location="/resources/" mapping="/resources/**" /> -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">

		<property name="prefix" value="/WEB-INF/views/" />

		<property name="suffix" value=".jsp" />

	</bean>
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!-- <bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource"> -->
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://203.230.100.244/musicstore" />
		<property name="username" value="root" />
		<property name="password" value="1234" />
	</bean>

	<!-- 하이버네이트 세션을 위한 세션팩토리 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
		<property name="packagesToScan" value="com.MusicStore.Model.*" />
	</bean>

	<!-- 하이버네이트 트랜잭션을 위한 TransactionManager -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="dataSource" ref="dataSource" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize">
			<value>102400000</value>
		</property>
	</bean>

	<bean id="CommentDAO" class="com.MusicStore.daoImpl.CommentDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="MemberDAO" class="com.MusicStore.daoImpl.MemberDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="MusicDAO" class="com.MusicStore.daoImpl.MusicDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="PlayListDAO" class="com.MusicStore.daoImpl.PlayListDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>
